{% load project_tags %}

<div>
  <p class="col-md-12 fs-4">An dieser stelle werden öffentliche Angaben zum Profil angezeigt</p>
  <table class="table">
    <tbody>
      <tr>
        <th>{% field_name user "title" %}</th>
        <td>{{ user.title }}</td>
      </tr>
      <tr>
        <th>{% field_name user "academic_title" %}</th>
        <td>{{ user.academic_title }}</td>
      </tr>
      <tr>
        <th>{% field_name user "username" %}</th>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <th>{% field_name user "first_name" %}</th>
        <td>{{ user.first_name }}</td>
      </tr>
      <tr>
        <th>{% field_name user "last_name" %}</th>
        <td>{{ user.last_name }}</td>
      </tr>
      <tr>
        <th>{% field_name user "vocation" %}</th>
        <td>{{ user.vocation }}</td>
      </tr>
      <tr>
        <th>{% field_name user "bio" %}</th>
        <td>{{ user.bio }}</td>
      </tr>
      <tr>
        <th>{% field_name user "city_name" %}</th>
        <td>{{ user.city_name }}</td>
      </tr>
      <tr>
        <th>{% field_name user "zip_code" %}</th>
        <td>{{ user.zip_code }}</td>
      </tr>
    </tbody>
  </table>
</div>
