{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <h1>Overview for Insertions</h1>
  <div class="container">
    <h2>Here a list of offers should be displayed</h2>
    <ul>
      <li>first offer</li>
      <li>second offer</li>
    </ul>

    <a class="btn btn-primary" href="{% url 'insertions:new_offer' %}" role="button">New Offer</a>
  </div>

  <div class="container">
    <h2>Here a list of requests should be displayed</h2>
    <ul>
      <li>first request</li>
      <li>second request</li>
    </ul>

    <a class="btn btn-primary" href="{% url 'insertions:insert' %}" role="button">New Request</a>
  </div>

{% endblock %}
