<div class="accordion" id="accordionSentLikes">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sentLikes" aria-expanded="true" aria-controls="collapseOne">
        Sent Likes
      </button>
    </h2>
    <div id="sentLikes" class="accordion-collapse collapse show" aria-labelledby="headingOne">
      <div class="accordion-body">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>sent like to </th>
              <th>prop match object_type</th>
            </tr>
          </thead>
          <tbody>
            {% for match_id, match_object in sent_likes.items %}
            <tr>
              <th>{{ match_id }}</th>
              <td>{{ match_object.id }}</td>
              <td>{{ match_object.object_type }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
