<div class="accordion" id="accordionRecommendedMatches">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#recommendedMatches" aria-expanded="true" aria-controls="collapseOne">
        Recommended Matches
      </button>
    </h2>
    <div id="recommendedMatches" class="accordion-collapse collapse show" aria-labelledby="headingOne">
      <div class="accordion-body">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>proposed match id</th>
              <th>prop match object_type</th>
            </tr>
          </thead>
          <tbody>
            {% for match in proposed_match_list %}
            <tr>
              <th>1</th>
              <td>{{ match.id }}</td>
              <td>{{ match.object_type }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
